.header{
    &_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        background-image: linear-gradient(102deg, rgb(235, 166, 29) 0%, rgb(243, 132, 21) 45%, rgb(235, 166, 29) 45%, rgb(255, 250, 238) 45%);
    }
    &_text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0rem 1rem 4rem 4rem;
    }
    &_image{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }
    &_title{
        margin: 0;
        font-family: "Ubuntu Condensed", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 5rem;
        width: 80%;
    }
    &_paragraph{
        color: white;
        font-size: 2rem;
        font-family: "Manrope", sans-serif;
        font-weight: 100;
        margin: 1rem 0 0 0;
        width: 60%;
    }
    &_span{
        text-transform: uppercase;
        color: rgb(238, 255, 0);
    }
}