.swiperSkills{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329) ), url("/images/frontEnd-IMG.jpg") ; 
}
.swiperSkills2{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329) ), url("/images/backEnd-IMG.jpg") ; 
}
.swiperSlide {
    text-align: center;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    height: 70% !important;
    width: 15rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: .5rem;
}
.swiperWrapper{
    height: 50rem;
}  
.swiperContent{
    display: flex;
    flex-direction: column;
}
.swiperName{
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.swiperImage{
    border-radius: 50%;
    object-fit: cover;
}
.skillText{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
}
.skillLevel{
    margin: 0 0 2rem 0;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 1.8rem;
}
.separators{
    text-align: center;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.8rem;
    margin: 0 0 .5rem 0;
}
.organizer{
    margin-top: -19rem;
}
@media(max-width: 53.125em){
    .swiperSkills,
    .swiperSkills2{
        width: 100%;
    }
}
@media(max-width: 43.75em){
    .swiperSlide{
        width: 9rem !important;
    }
    .swiperWrapper{
        height: 40rem;
    }
    .swiperImage{
        width: 1rem;
    }
    .skillText{
        font-size: .8rem;
    }
    .skillLevel{
        font-size: 1.4rem;
    }
    .swiperName{
        font-size: 1.6rem;
    }
    .swiperWrapper:nth-child(2){
        margin-bottom: 4rem;
    }
}