.header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-image: linear-gradient(102deg, #eba61d 0%, #f38415 45%, #eba61d 45%, white 45%); }

.header_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 1rem 4rem 4rem; }

.header_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header_image img {
    border-radius: 50%;
    position: absolute;
    width: 22rem;
    height: 22rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.header_title {
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 4.6rem;
  width: 80%; }

.header_paragraph {
  color: white;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  margin: 1rem 0 0 0;
  width: 60%; }

.header_span {
  text-transform: uppercase;
  color: #eeff00; }

@media (max-width: 96.825em) {
  .header_title {
    font-size: 3.7rem; }
  .header_paragraph {
    font-size: 1.5rem; } }

@media (max-width: 75em) {
  .header_container {
    grid-template-columns: repeat(1, 1fr);
    background-image: none;
    height: auto; }
  .header_image {
    grid-row: 1 / 2; }
  .header_text {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(102deg, #eba61d 0%, #f38415 45%, #eba61d 100%);
    margin: 0;
    padding: 4rem 2rem;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 7%);
    text-align: center;
    justify-content: center; }
  .header_title {
    width: 100%; }
  .header_paragraph {
    width: 100%; }
  .header_image {
    margin: 12rem 0 5rem 0; }
    .header_image img {
      width: 11rem;
      height: 11rem; } }

@media (max-width: 34.375em) {
  .header_title {
    font-size: 2.5rem; } }

.btn1 {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
  border: 0.1rem solid #ff6600;
  border-radius: 2rem;
  display: block;
  align-self: flex-start;
  margin: 2rem 0;
  font-size: 1.3rem;
  padding: .7rem 2rem;
  overflow: hidden;
  transition: background-color 1s, color .7s; }
  .btn1::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    right: -13%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1:hover {
    background-color: #ff6600;
    color: white; }
    .btn1:hover::after {
      transform: scale(15) translateX(-0.25rem); }
    .btn1:hover::before {
      transform: scale(15) translateX(0.25rem); }

.btnText {
  cursor: pointer;
  position: relative;
  z-index: 5; }

.btnSep {
  margin: 0 !important; }

.customChange1 {
  display: flex;
  width: max-content;
  margin: 0 auto 2rem auto; }

.customChange2 {
  width: max-content; }

.customChange3 {
  display: flex;
  width: max-content;
  margin: 2rem auto 1rem auto; }

@media (max-width: 68.75em) {
  .customChange2 {
    margin: 2rem auto; } }

.content {
  position: relative;
  z-index: 999; }

.btn_form {
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 2rem;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 800;
  margin: 1rem 0;
  color: black;
  background-color: white;
  transition: .3s;
  border: 0.15rem solid #ffd000; }
  .btn_form:hover {
    background-color: #ffc400;
    color: white; }

.navButtons {
  position: relative;
  margin: 0 1rem;
  padding: .5rem 1rem;
  transition: .4s; }
  .navButtons:nth-child(5) {
    border: 0.2rem solid #ff6600;
    background-color: white; }
    .navButtons:nth-child(5):hover {
      background-color: #ffd000; }
      .navButtons:nth-child(5):hover .btnTextNav {
        background-color: white; }

.btnTextNav {
  color: transparent;
  font-weight: 500;
  background-color: black;
  background-clip: text;
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
  transition: .2s; }
  .btnTextNav:hover {
    background-clip: text;
    background-color: #ff9100; }

.btnAdminNav {
  padding: 1rem 1rem;
  width: 100%; }

.btnAdminNav:nth-child(1) {
  margin-top: 1rem; }

@media (max-width: 75em) {
  .btn1 {
    align-self: center; } }

@media (max-width: 43.75em) {
  .navButtons {
    margin: 0 0;
    padding: .5rem .5rem; }
  .btnTextNav {
    font-size: .9rem; }
  .btn_form {
    font-size: 1.7rem; } }

.swiperSkills {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/frontEnd-IMG.jpg"); }

.swiperSkills2 {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/backEnd-IMG.jpg"); }

.swiperSlide {
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  background-color: white;
  height: 70% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: .5rem; }

.swiperWrapper {
  height: 50rem; }

.swiperContent {
  display: flex;
  flex-direction: column; }

.swiperName {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.swiperImage {
  border-radius: 50%;
  object-fit: cover; }

.skillText {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0; }

.skillLevel {
  margin: 0 0 2rem 0;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.8rem; }

.separators {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 .5rem 0; }

.organizer {
  margin-top: -19rem; }

@media (max-width: 53.125em) {
  .swiperSkills,
  .swiperSkills2 {
    width: 100%; } }

@media (max-width: 43.75em) {
  .swiperWrapper {
    height: 40rem; }
  .swiperImage {
    width: 1rem; }
  .skillText {
    font-size: .8rem; }
  .skillLevel {
    font-size: 1.4rem; }
  .swiperName {
    font-size: 1.6rem; }
  .swiperWrapper:nth-child(2) {
    margin-bottom: 4rem; } }

.subtitle {
  position: relative;
  font-size: 3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-top: .5rem dotted orangered;
  border-bottom: .5rem dotted orangered;
  padding: .5rem 2rem;
  margin: 1rem 0; }
  .subtitle::after {
    content: "";
    width: 0;
    height: .5rem;
    top: -.5rem;
    left: 50%;
    background-color: orangered;
    position: absolute;
    transition: width .5s;
    border-radius: 1rem;
    transform: translateX(-50%); }
  .subtitle::before {
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: .5rem;
    bottom: -.5rem;
    left: 50%;
    border-radius: 1rem;
    background-color: orangered;
    transition: width .5s;
    position: absolute; }
  .subtitle:hover::before, .subtitle:hover::after {
    width: 100%; }

.subtitleWrapper {
  padding: 4rem 0 .5rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.section2 {
  background-color: #fffaee; }

.section3 {
  padding: 8rem 0 8rem 0;
  margin-top: -20rem;
  background-color: #fff2dd;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative; }

.section4 {
  background-color: #fdad00;
  color: white; }

.section5 {
  padding: 8rem 0 5rem 0;
  margin-top: -12rem;
  background-color: #ffe4b9;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative; }

.subtitleCustom2 {
  padding-bottom: .5rem;
  padding-top: 7rem; }

@media (max-width: 75em) {
  .section2 {
    margin-top: -2rem; }
  .section5 {
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0); } }

@media (max-width: 71.875em) {
  .section3 {
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0); } }

@media (max-width: 37.5em) {
  .subtitle {
    font-size: 2.3rem; } }

.projectsContainer {
  margin: 0 6rem 6rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  place-items: center; }

.project {
  position: relative;
  overflow: hidden;
  width: 28rem;
  background-color: white;
  -webkit-box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.24);
  transition: .4s; }

.techImgContainer {
  padding: .2rem; }
  .techImgContainer::after {
    content: "";
    background-color: #ffb310;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s; }

.bckgOrange {
  background-color: #ffb310; }
  .bckgOrange::after {
    background-color: #ffb310; }

.bckgYellow {
  background-color: #fedf00; }
  .bckgYellow::after {
    background-color: #fedf00; }

.tecnologies {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.3rem;
  margin: .5rem 0;
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .7s; }

.tech {
  padding: 1rem .5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: -40%;
  left: 0%;
  transition: bottom .4s .1s; }

.linkWrapper {
  position: absolute;
  top: -50%;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  transition: top .4s .3s; }

.techImg {
  width: 100%; }

.techImg1 {
  width: 100%;
  border-radius: 50%; }

.project:hover {
  transform: translateY(-0.8rem);
  -webkit-box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 8px 13px -1px rgba(0, 0, 0, 0.4); }

.project:hover .techImgContainer::after {
  opacity: 1; }

.project:hover .tech {
  bottom: 0%; }

.project:hover .tecnologies {
  opacity: 1; }

.project:hover .linkWrapper {
  top: 0; }

.movCanvas {
  position: absolute;
  top: 0%;
  z-index: -5; }

.allProjects {
  background-color: #fff2dd;
  z-index: 1;
  position: relative;
  height: 100%;
  padding-bottom: 2rem; }

.projectForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0; }

@media (max-width: 103.125em) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem 6rem 3rem; } }

@media (max-width: 65em) {
  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem 6rem 1rem; } }

@media (max-width: 31.25em) {
  .project {
    width: 100%; } }

@media (max-width: 25em) {
  .project:hover .linkWrapper {
    top: -10%; } }

.contact_header {
  text-align: center;
  font-size: 2.3rem;
  margin: -2rem 0 2rem 0;
  font-family: "Oswald", sans-serif; }
  .contact_header:nth-child(1) {
    margin: 2rem 0 2rem 0;
    font-family: "Ubuntu Condensed", sans-serif; }

.contact_container {
  height: 100%;
  padding: 0 0 3rem 0; }

.contact_form {
  background-color: #ff5e00;
  width: 70%;
  margin: 0 auto 4rem auto;
  padding: .5rem 2rem; }
  .contact_form_inputs {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .contact_form_data {
    flex-basis: 49%;
    width: 100%; }
  .contact_form_input {
    font-family: "Ubuntu Condensed", sans-serif;
    background-color: white;
    width: 100%;
    font-size: 1.4rem;
    padding: .3rem .5rem;
    margin: .5rem 0;
    outline: none;
    border: none;
    transition: .15s all; }
    .contact_form_input:focus {
      outline: #27fff4 0.2rem solid; }
  .contact_form_message {
    flex-basis: 49%; }
  .contact_form_textarea {
    padding: .3rem .5rem;
    height: 9rem;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-self: start;
    align-items: flex-start;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    transition: .15s all; }
    .contact_form_textarea:focus {
      outline: #27ff88 0.2rem solid; }

@media (max-width: 62.5em) {
  .contact_form {
    width: 95%; } }

@media (max-width: 46.875em) {
  .contact_form {
    margin: .5rem auto .5rem auto; }
  .contact_form_inputs {
    flex-direction: column !important; }
  .contact_form_message {
    width: 100%; }
  .contact_header {
    font-size: 1.8rem; } }

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff1d7;
  position: fixed;
  width: 100%;
  z-index: 2050;
  border-bottom: 0.1rem solid #f85b00; }

.nav_name {
  font-size: 2rem;
  margin: .5rem 0 .5rem 1.5rem;
  font-family: "Ubuntu Condensed", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }

.nav_button {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  background-color: white;
  border-left: solid .1rem orange;
  border-right: solid .1rem orange;
  padding: .7rem 1rem;
  transition: .3s ease all;
  cursor: pointer; }
  .nav_button_text {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
    color: #313131;
    font-weight: 800;
    margin: 0; }
  .nav_button_btn {
    margin-left: 1rem;
    width: 2rem;
    height: .2rem;
    background-color: black;
    border-radius: 20rem;
    position: relative; }
    .nav_button_btn::after {
      content: "";
      width: 2rem;
      height: .2rem;
      background-color: black;
      border-radius: 20rem;
      position: absolute;
      top: -.5rem;
      transition: .3s; }
    .nav_button_btn::before {
      content: "";
      width: 2rem;
      height: .2rem;
      background-color: black;
      border-radius: 20rem;
      position: absolute;
      top: .5rem;
      transition: .3s; }
  .nav_button_active {
    background-color: orange; }
    .nav_button_active:hover {
      background-color: #ffc27d !important; }
  .nav_button_active .nav_button_btn {
    visibility: hidden; }
    .nav_button_active .nav_button_btn::after {
      visibility: visible;
      transform: rotate(315deg);
      top: 0 !important; }
    .nav_button_active .nav_button_btn::before {
      visibility: visible;
      transform: rotate(-315deg);
      top: 0 !important; }
  .nav_button:hover {
    background-color: papayawhip; }
  .nav_button:hover .nav_button_btn::after {
    top: -.66rem; }
  .nav_button:hover .nav_button_btn::before {
    top: .66rem; }

.nav_linksWrapper {
  position: fixed;
  top: 100%;
  width: 100vw;
  height: 95%;
  background-color: #fff7e4;
  opacity: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease; }
  .nav_linksWrapper_active {
    top: 5.6%;
    opacity: 1; }

.nav_linksWrapper_active .nav_link {
  transform: translateY(0%) !important; }

.nav_links {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("/images/background_nav.jpg") center center;
  background-size: cover;
  margin: 2rem;
  width: 100%;
  height: 95%;
  z-index: 2001;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }

.nav_link {
  transition: .5s .4s transform,  .3s background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }
  .nav_link_text {
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    font-weight: 600; }
  .nav_link:nth-child(1), .nav_link:nth-child(3), .nav_link:nth-child(5) {
    background-color: rgba(255, 136, 0, 0.623);
    transform: translateY(100%); }
    .nav_link:nth-child(1):hover, .nav_link:nth-child(3):hover, .nav_link:nth-child(5):hover {
      background-color: #ff8800; }
  .nav_link:nth-child(2), .nav_link:nth-child(4) {
    background-color: rgba(255, 208, 0, 0.616);
    transform: translateY(-100%); }
    .nav_link:nth-child(2):hover, .nav_link:nth-child(4):hover {
      background-color: #ffd000; }

@media (max-width: 50em) {
  .nav_container {
    width: 100%; }
  .nav_navigation {
    display: flex;
    flex-wrap: wrap; } }

@media (max-width: 62.5em) {
  .nav_links {
    flex-direction: column; }
  .nav_link:nth-child(1), .nav_link:nth-child(3), .nav_link:nth-child(5) {
    transform: translateY(0%) translateX(100%); }
    .nav_link:nth-child(1):hover, .nav_link:nth-child(3):hover, .nav_link:nth-child(5):hover {
      background-color: #ff8800; }
  .nav_link:nth-child(2), .nav_link:nth-child(4) {
    transform: translateY(0%) translateX(-100%); }
    .nav_link:nth-child(2):hover, .nav_link:nth-child(4):hover {
      background-color: #ffd000; }
  .nav_linksWrapper_active .nav_link {
    transform: translateX(0%) !important; } }

.project_title {
  font-size: 3.4rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", sans-serif;
  text-align: center;
  position: relative; }
  .project_title::after {
    content: "";
    width: 80%;
    height: .1rem;
    background-color: #ff6d18;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%); }

.project_extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 1rem 0; }
  .project_extras_paragraph {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
    margin: 0 .5rem;
    width: max-content; }

.project_text {
  display: flex;
  flex-basis: 50%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.project_details {
  display: flex;
  position: relative;
  margin-top: -15rem;
  padding-top: 15rem;
  background-color: #fffbea; }

.project_floater {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  flex-basis: 30%;
  margin: 0 6rem;
  padding: 1.5rem;
  background-color: #ffefea;
  height: max-content;
  border-radius: 1rem;
  border: solid .2rem orange;
  width: 28rem;
  transition: opacity .8s; }

.project_description {
  flex-basis: 70%;
  margin: 2rem 4rem;
  font-size: 2rem;
  margin-right: 25vh; }
  .project_description_img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3rem dashed orange; }

.project_data {
  margin-bottom: 1.3rem; }
  .project_data_paragraph {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 0 .3rem 0;
    font-family: "Ubuntu Condensed", sans-serif; }
  .project_data_paragraph2 {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
    font-family: "Oswald", sans-serif; }

.project_separator {
  flex-basis: 30%;
  margin: 0 6rem;
  padding: 1.5rem; }

.floaterFixed {
  visibility: visible;
  opacity: 1; }

.projectAll {
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d; }

@media (max-width: 87.5em) {
  .project_description {
    margin-right: 10vh; } }

@media (max-width: 68.75em) {
  .project_floater {
    position: relative !important;
    visibility: visible;
    opacity: 1;
    margin: -12rem 0 0 0;
    top: 0 !important;
    left: 0;
    transform: translate(0, 0);
    padding-top: 13rem;
    width: 100%; }
  .project_data {
    text-align: center; }
  .project_separator {
    display: none; }
  .project_details {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .project_description {
    margin-right: 2rem; } }

@media (max-width: 37.5em) {
  .project_description {
    margin: 0 .5rem;
    font-size: 1.3rem;
    margin-right: 1rem; } }

@media (max-width: 34.375em) {
  .project_title {
    font-size: 2.3rem; }
  .project_extras_paragraph {
    font-size: 1rem; }
  .projectDetails {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0); } }

.masonry {
  column-count: 2;
  width: 100%;
  margin: 0 auto; }
  .masonry_img {
    width: 100%;
    background-color: orange;
    padding: .1rem;
    margin: .2rem; }

@media (max-width: 50em) {
  .masonry {
    column-count: 1; } }

.content {
  position: absolute;
  width: 70rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  display: flex;
  box-shadow: -1px 0px 23px 5px rgba(255, 169, 0, 0.75);
  -webkit-box-shadow: -1px 0px 23px 5px rgba(255, 169, 0, 0.75);
  -moz-box-shadow: -1px 0px 23px 5px rgba(255, 169, 0, 0.75);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.adminNav {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  background-color: #4c4947;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.childContent {
  background-color: rgba(255, 255, 255, 0.693);
  width: 100%;
  overflow-y: scroll; }

.adminNavText {
  position: relative;
  z-index: 5;
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  font-family: "Oswald", sans-serif;
  color: white; }

.mainBck {
  background: #ffda00;
  background: linear-gradient(90deg, #ffda00 0%, #ff9100 52%, #ff6600 100%);
  width: 100vw;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden; }

/* Separate code for each */
/* Skills part */
.adminBtn {
  width: max-content;
  margin: 1rem 0;
  cursor: pointer; }

.skillAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid #ff8903; }

.skillAdmContainer {
  background-color: white;
  margin: 1rem;
  width: 11.5rem;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 1px 29px -13px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 29px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 29px -13px rgba(0, 0, 0, 0.75); }

.skillButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.skilladm {
  margin-bottom: .7rem; }

.skillsAdmin {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center; }

.skillEdit,
.skillDelete,
.projectView {
  outline: none;
  cursor: pointer;
  border: .05rem solid grey;
  width: 100%;
  margin: 0 auto;
  padding: .3rem 1rem;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 800;
  font-size: 1rem; }

.skillEdit {
  border-color: orange;
  background-color: rgba(255, 166, 0, 0.177);
  border-bottom-left-radius: 1rem;
  transition: .3s; }
  .skillEdit:hover {
    background-color: #ffa600;
    color: white; }

.skillDelete {
  border-bottom-right-radius: 1rem;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.155);
  transition: .3s; }
  .skillDelete:hover {
    background-color: red;
    color: white; }

.projectView {
  border-color: #ff0077;
  background-color: rgba(255, 0, 212, 0.096);
  transition: .3s;
  text-align: center; }
  .projectView:hover {
    background-color: #ff0095;
    color: white; }

.newSkillForm {
  display: flex;
  flex-direction: column;
  margin: 1rem; }
  .newSkillForm_field {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    margin: .6rem 0; }
  .newSkillForm_label {
    font-size: 1.4rem;
    color: #353535; }
  .newSkillForm_input {
    background-color: white;
    border: orange solid .1rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: .3rem .5rem;
    margin-top: .3rem; }
    .newSkillForm_input:focus {
      outline: 0.1rem solid #ff1e00; }
  .newSkillForm_file {
    border: orange solid .1rem;
    background-color: white;
    margin-top: .3rem; }
    .newSkillForm_file::-webkit-file-upload-button {
      visibility: hidden; }
    .newSkillForm_file::before {
      content: 'Select a file';
      display: inline-block;
      background: #ff4b14;
      padding: .6rem .4rem;
      outline: none;
      white-space: nowrap;
      color: white;
      -webkit-user-select: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 1rem; }
    .newSkillForm_file:hover::before {
      border-color: white; }
    .newSkillForm_file:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

.newSkillTitle {
  margin: 1rem;
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #353535; }

.newSkillBtns {
  display: flex;
  cursor: pointer;
  justify-content: space-between; }

/* End Of Skill Part */
/* Projects part */
.adminProjectContainer {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

.adminEntriesContainer {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem; }

.adminProject_title {
  background-color: #ffc400;
  margin: 0;
  border-bottom: red 0.1rem solid;
  font-family: "Oswald", sans-serif;
  padding: .2rem .5rem; }

.adminProject_Main {
  background-color: #ff6600;
  display: flex;
  justify-content: space-between;
  padding: .1rem 0 .2rem .2rem; }

.adminProject_Technologies {
  margin: .3rem;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.adminProject_techImg {
  padding: .05rem !important; }

.adminProject_Buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.adminEntry_Main {
  background-color: #ffc400;
  display: flex; }

.adminEntry_imgContainer {
  display: flex;
  align-items: center;
  justify-content: center; }

.adminEntry_img {
  padding: .3rem !important;
  display: flex;
  align-items: center;
  background-color: #ff6600;
  justify-content: center;
  object-fit: cover;
  height: 50%;
  width: 2rem; }

.adminEntry_data {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  width: 100%;
  flex-basis: 20%; }
  .adminEntry_data h4 {
    font-size: 1.2rem;
    margin: .5rem .1rem;
    width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.adminEntry_stat {
  display: flex;
  align-items: center; }

.adminEntry_statP {
  margin: 0 .3rem 0 0;
  font-weight: 500; }

.adminEntry_quickStats {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  width: 16rem; }

.customField {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: row; }

/* End Of Project part */
/* End of separate code */
@media (max-width: 71.875em) {
  .content {
    flex-direction: column;
    width: 100%;
    height: 100%; }
  .adminNav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-basis: 10%;
    border-radius: 0; }
  .childContent {
    height: 100%; } }

@media (max-width: 56.25em) {
  .skillsAdmin {
    grid-template-columns: repeat(3, 1fr); }
  .adminEntry_data h4 {
    width: 10rem;
    font-size: 1rem; }
  .adminEntry_quickStats {
    width: auto;
    flex-direction: column; }
  .adminProject_Main {
    flex-direction: column;
    padding: .1rem .2rem; }
  .adminProject_Technologies {
    justify-content: space-between; } }

@media (max-width: 42.1875em) {
  .skillsAdmin {
    grid-template-columns: repeat(2, 1fr); }
  .adminEntriesContainer {
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 28.125em) {
  .skillsAdmin {
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 31.25em) {
  .newSkillBtns {
    flex-direction: column; }
  .adminProjectContainer {
    grid-template-columns: repeat(1, 1fr); } }

@media (max-width: 37.5em) {
  .adminNav {
    grid-template-columns: repeat(2, 1fr); } }

.textEmpty {
  text-align: center;
  grid-column: 1 / 5;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  background-color: #ffb938;
  padding: .5rem 1rem;
  width: 100%;
  font-style: italic; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffedcb;
  position: relative;
  border-top: solid .1rem grey;
  z-index: 1000; }
  .footer_image {
    margin: 2rem;
    border-bottom: .1rem solid grey; }
  .footer_links {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: column; }
  .footer_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem; }

@media (max-width: 62.5em) {
  .footer_content {
    flex-direction: column; }
    .footer_content .btnTextNav {
      font-size: 1.7rem !important; }
    .footer_content .navButtons {
      margin: .5rem 0 !important; } }

.blogIndex_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30rem, max-content);
  grid-gap: 2rem;
  margin: 0 10rem; }

.blogIndex_entries {
  background-color: white;
  height: 100%; }

.blogEntry_bigCard {
  border-radius: 2rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  transition: .3s; }
  .blogEntry_bigCard:hover {
    transform: scale(1.05); }
  .blogEntry_bigCard_img {
    width: 100%;
    height: 15rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
    transition: .3s ease;
    box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75); }
  .blogEntry_bigCard_title {
    margin: 0 0 .5rem 0;
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif; }
  .blogEntry_bigCard_intro {
    font-family: "Ubuntu", sans-serif; }
  .blogEntry_bigCard_mainContent {
    padding: 1rem 1rem 2.5rem 1rem;
    background-color: white;
    margin-top: -.25rem;
    border: 0.1rem solid #ff4f22;
    border-top-width: .4rem;
    transition: .3s ease;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    position: relative;
    box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 29px -12px rgba(0, 0, 0, 0.75); }
  .blogEntry_bigCard_quickInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .blogEntry_bigCard_quickInfo_data {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
    .blogEntry_bigCard_quickInfo_text {
      margin-left: .3rem;
      font-family: "Oswald", sans-serif; }
  .blogEntry_bigCard_btn {
    background-color: #ff4f22;
    margin: 0;
    position: absolute;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    bottom: 0;
    left: 0;
    padding: .5rem 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: .4rem;
    font-size: 1.2rem;
    transition: .3s; }
    .blogEntry_bigCard_btn:hover {
      background-color: #ff9b3d; }

.blog_details {
  display: flex;
  position: relative;
  margin-top: -15rem;
  padding-top: 15rem;
  background-color: #fffbea;
  justify-content: center; }

.blog_description {
  flex-basis: 50%;
  font-size: 2rem;
  margin: 2rem 25vh; }
  .blog_description_img {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .3rem dashed orange; }

.blog_separator {
  display: none;
  flex-basis: 10%;
  margin: 0 6rem;
  padding: 1.5rem; }

/* Media queries */
@media (max-width: 100em) {
  .blogIndex_container {
    margin: 0 4rem; } }

@media (max-width: 87.5em) {
  .blog_description {
    margin: 2rem 10vh;
    flex-basis: 70%; } }

@media (max-width: 75em) {
  .blogIndex_container {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 50em) {
  .blogIndex_container {
    margin: 0 1rem; }
  .blog_description {
    margin: 2rem 5vh;
    flex-basis: 100%; } }

@media (max-width: 43.75em) {
  .blogIndex_container {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content; } }

@media (max-width: 32em) {
  .blog_description {
    margin: 2rem 2vh; } }

/* End Of Media queries */
