.header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-image: linear-gradient(102deg, #eba61d 0%, #f38415 45%, #eba61d 45%, white 45%); }

.header_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 1rem 4rem 4rem; }

.header_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header_image img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.header_title {
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 4.6rem;
  width: 80%; }

.header_paragraph {
  color: white;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  margin: 1rem 0 0 0;
  width: 60%; }

.header_span {
  text-transform: uppercase;
  color: #eeff00; }

@media (max-width: 96.825em) {
  .header_title {
    font-size: 3.7rem; }
  .header_paragraph {
    font-size: 1.5rem; } }

@media (max-width: 75em) {
  .header_container {
    grid-template-columns: repeat(1, 1fr);
    background-image: none;
    height: auto; }
  .header_image {
    grid-row: 1 / 2; }
  .header_text {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(102deg, #eba61d 0%, #f38415 45%, #eba61d 100%);
    margin: 0;
    padding: 4rem 2rem;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0, 50% 7%);
    text-align: center;
    justify-content: center; }
  .header_title {
    width: 100%; }
  .header_paragraph {
    width: 100%; }
  .header_image {
    margin: 12rem 0 5rem 0; }
    .header_image img {
      width: 10rem;
      height: 10rem; } }

@media (max-width: 34.375em) {
  .header_title {
    font-size: 2.5rem; } }

.btn1 {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: white;
  border: 0.1rem solid #ff6600;
  border-radius: 2rem;
  display: block;
  align-self: flex-start;
  margin: 2rem 0;
  font-size: 1.3rem;
  padding: .7rem 2rem;
  overflow: hidden;
  transition: background-color 1s, color .7s; }
  .btn1::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    right: -13%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1:hover {
    background-color: #ff6600;
    color: white; }
    .btn1:hover::after {
      transform: scale(15) translateX(-0.25rem); }
    .btn1:hover::before {
      transform: scale(15) translateX(0.25rem); }

.btnText {
  position: relative;
  z-index: 5; }

.btnSep {
  margin: 0 !important; }

.customChange1 {
  display: flex;
  width: max-content;
  margin: 0 auto 2rem auto; }

.btn_form {
  width: 100%;
  text-align: center;
  padding: .5rem 1rem;
  font-size: 2rem;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 800;
  margin: 1rem 0;
  color: black;
  background-color: white;
  transition: .3s;
  border: 0.15rem solid #ffd000; }
  .btn_form:hover {
    background-color: #ffc400;
    color: white; }

.navButtons {
  position: relative;
  margin: 0 1rem;
  padding: .5rem 1rem;
  transition: .4s; }
  .navButtons:nth-child(5) {
    border: 0.2rem solid #ff6600;
    background-color: white; }
    .navButtons:nth-child(5):hover {
      background-color: #ffd000; }
      .navButtons:nth-child(5):hover .btnTextNav {
        background-color: white; }

.btnTextNav {
  color: transparent;
  font-weight: 500;
  background-color: black;
  background-clip: text;
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
  transition: .2s; }
  .btnTextNav:hover {
    background-clip: text;
    background-color: #ff9100; }

@media (max-width: 75em) {
  .btn1 {
    align-self: center; } }

@media (max-width: 43.75em) {
  .navButtons {
    margin: 0 0;
    padding: .5rem .5rem; }
  .btnTextNav {
    font-size: .9rem; }
  .btn_form {
    font-size: 1.7rem; } }

.swiperSkills {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/frontEnd-IMG.jpg"); }

.swiperSkills2 {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/backEnd-IMG.jpg"); }

.swiperSlide {
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  background-color: white;
  height: 70% !important;
  width: 15rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: .5rem; }

.swiperWrapper {
  height: 50rem; }

.swiperContent {
  display: flex;
  flex-direction: column; }

.swiperName {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.swiperImage {
  border-radius: 50%;
  object-fit: cover; }

.skillText {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0; }

.skillLevel {
  margin: 0 0 2rem 0;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.8rem; }

.separators {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 .5rem 0; }

.organizer {
  margin-top: -19rem; }

@media (max-width: 53.125em) {
  .swiperSkills,
  .swiperSkills2 {
    width: 100%; } }

@media (max-width: 43.75em) {
  .swiperSlide {
    width: 9rem !important; }
  .swiperWrapper {
    height: 40rem; }
  .swiperImage {
    width: 1rem; }
  .skillText {
    font-size: .8rem; }
  .skillLevel {
    font-size: 1.4rem; }
  .swiperName {
    font-size: 1.6rem; }
  .swiperWrapper:nth-child(2) {
    margin-bottom: 4rem; } }

.subtitle {
  position: relative;
  font-size: 3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-top: .5rem dotted orangered;
  border-bottom: .5rem dotted orangered;
  padding: .5rem 2rem;
  margin: 1rem 0; }
  .subtitle::after {
    content: "";
    width: 0;
    height: .5rem;
    top: -.5rem;
    left: 50%;
    background-color: orangered;
    position: absolute;
    transition: width .5s;
    border-radius: 1rem;
    transform: translateX(-50%); }
  .subtitle::before {
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: .5rem;
    bottom: -.5rem;
    left: 50%;
    border-radius: 1rem;
    background-color: orangered;
    transition: width .5s;
    position: absolute; }
  .subtitle:hover::before, .subtitle:hover::after {
    width: 100%; }

.subtitleWrapper {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.section2 {
  background-color: #fffaee; }

.section3 {
  padding: 8rem 0 2rem 0;
  margin-top: -20rem;
  background-color: #fff2dd;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative; }

.section4 {
  background-color: #fdad00;
  color: white; }

.subtitleCustom2 {
  padding-bottom: .5rem;
  padding-top: 7rem; }

@media (max-width: 75em) {
  .section2 {
    margin-top: -2rem; } }

@media (max-width: 71.875em) {
  .section3 {
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0); } }

@media (max-width: 37.5em) {
  .subtitle {
    font-size: 2.3rem; } }

.projectsContainer {
  margin: 0 6rem 6rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  place-items: center; }

.project {
  position: relative;
  overflow: hidden;
  width: 28rem;
  background-color: white;
  -webkit-box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.24);
  box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.24);
  transition: .4s; }

.techImgContainer {
  padding: .2rem; }
  .techImgContainer::after {
    content: "";
    background-color: #ffb310;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s; }

.bckgOrange {
  background-color: #ffb310; }
  .bckgOrange::after {
    background-color: #ffb310; }

.bckgYellow {
  background-color: #fedf00; }
  .bckgYellow::after {
    background-color: #fedf00; }

.tecnologies {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.3rem;
  margin: .5rem 0;
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .7s; }

.tech {
  padding: 1rem .5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: -40%;
  left: 0%;
  transition: bottom .4s .1s; }

.linkWrapper {
  position: absolute;
  top: -50%;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  transition: top .4s .3s; }

.techImg {
  width: 100%; }

.techImg1 {
  width: 100%;
  border-radius: 50%; }

.project:hover {
  transform: translateY(-0.8rem);
  -webkit-box-shadow: 3px 1px 11px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 8px 13px -1px rgba(0, 0, 0, 0.4); }

.project:hover .techImgContainer::after {
  opacity: 1; }

.project:hover .tech {
  bottom: 0%; }

.project:hover .tecnologies {
  opacity: 1; }

.project:hover .linkWrapper {
  top: 0; }

.movCanvas {
  position: absolute;
  top: 0%;
  z-index: -5; }

.allProjects {
  height: 100%;
  padding-bottom: 2rem; }

.projectForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0; }

@media (max-width: 103.125em) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem 6rem 3rem; } }

@media (max-width: 65em) {
  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem 6rem 1rem; } }

@media (max-width: 31.25em) {
  .project {
    width: 100%; } }

@media (max-width: 25em) {
  .project:hover .linkWrapper {
    top: -10%; } }

.contact_header {
  text-align: center;
  font-size: 2.3rem;
  margin: -2rem 0 2rem 0;
  font-family: "Oswald", sans-serif; }
  .contact_header:nth-child(1) {
    margin: 2rem 0 2rem 0;
    font-family: "Ubuntu Condensed", sans-serif; }

.contact_container {
  height: 100%;
  padding: 0 0 3rem 0; }

.contact_form {
  background-color: #ff5e00;
  width: 70%;
  margin: 0 auto 4rem auto;
  padding: .5rem 2rem; }
  .contact_form_inputs {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .contact_form_data {
    flex-basis: 49%;
    width: 100%; }
  .contact_form_input {
    font-family: "Ubuntu Condensed", sans-serif;
    background-color: white;
    width: 100%;
    font-size: 1.4rem;
    padding: .3rem .5rem;
    margin: .5rem 0;
    outline: none;
    border: none;
    transition: .15s all; }
    .contact_form_input:focus {
      outline: #27fff4 0.2rem solid; }
  .contact_form_message {
    flex-basis: 49%; }
  .contact_form_textarea {
    padding: .3rem .5rem;
    height: 9rem;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-self: start;
    align-items: flex-start;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    transition: .15s all; }
    .contact_form_textarea:focus {
      outline: #27ff88 0.2rem solid; }

@media (max-width: 62.5em) {
  .contact_form {
    width: 95%; } }

@media (max-width: 46.875em) {
  .contact_form {
    margin: .5rem auto .5rem auto; }
  .contact_form_inputs {
    flex-direction: column !important; }
  .contact_form_message {
    width: 100%; }
  .contact_header {
    font-size: 1.8rem; } }

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff1d7;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 0.1rem solid #f85b00; }

.nav_name {
  font-size: 2rem;
  margin: .5rem 0 .5rem 1.5rem;
  font-family: "Ubuntu Condensed", sans-serif;
  text-transform: uppercase; }

@media (max-width: 50em) {
  .nav_container {
    padding: 1rem;
    justify-content: center;
    width: 100%; }
  .nav_name {
    display: none; }
  .nav_navigation {
    display: flex;
    flex-wrap: wrap; } }

.projectDetails {
  height: 100vh;
  position: relative;
  perspective: .1rem;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0); }
  .projectDetails::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(255, 80, 27, 0.807), rgba(255, 136, 0, 0.774)), url("../public/images/Screenshot_9.png");
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    transform: translateZ(-0.1rem) scale(2); }

.project_title {
  font-size: 3.4rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", sans-serif;
  text-align: center; }

.project_extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 1rem 0; }
  .project_extras_paragraph {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
    margin: 0 .5rem; }

.project_text {
  display: flex;
  flex-basis: 50%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.all {
  height: 100vh; }

@media (max-width: 34.375em) {
  .project_title {
    font-size: 2.3rem; }
  .project_extras_paragraph {
    font-size: 1rem; }
  .projectDetails {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0); } }
