.header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  background-image: linear-gradient(102deg, #eba61d 0%, #f38415 45%, #eba61d 45%, #fffaee 45%); }

.header_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 1rem 4rem 4rem; }

.header_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header_image img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); }

.header_title {
  margin: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 5rem;
  width: 80%; }

.header_paragraph {
  color: white;
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
  margin: 1rem 0 0 0;
  width: 60%; }

.header_span {
  text-transform: uppercase;
  color: #eeff00; }

.btn1 {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: white;
  border: 0.1rem solid #ff6600;
  border-radius: 2rem;
  display: block;
  align-self: flex-start;
  margin: 2rem 0;
  font-size: 1.3rem;
  padding: .7rem 2rem;
  overflow: hidden;
  transition: background-color 1s, color .7s; }
  .btn1::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    left: -5%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ff6600;
    top: 50%;
    right: -13%;
    transform: translate(-50%, -50%);
    transition: .5s; }
  .btn1:hover {
    background-color: #ff6600;
    color: white; }
    .btn1:hover::after {
      transform: scale(10) translateX(-0.25rem); }
    .btn1:hover::before {
      transform: scale(10) translateX(0.25rem); }

.btnText {
  position: relative;
  z-index: 5; }

.swiperSkills {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/frontEnd-IMG.jpg"); }

.swiperSkills2 {
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right bottom, rgba(255, 230, 0, 0.692), rgba(251, 255, 0, 0.329)), url("/images/backEnd-IMG.jpg"); }

.swiperSlide {
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  background-color: white;
  height: 70% !important;
  width: 15rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: .5rem; }

.swiperWrapper {
  height: 50rem; }

.swiperContent {
  display: flex;
  flex-direction: column; }

.swiperName {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0; }

.swiperImage {
  border-radius: 50%;
  object-fit: cover; }

.skillText {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0; }

.skillLevel {
  margin: 0 0 2rem 0;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.8rem; }

.separators {
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.8rem;
  margin: 0 0 .5rem 0; }

.organizer {
  margin-top: -19rem; }

.subtitle {
  position: relative;
  font-size: 3rem;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-top: .5rem dotted orangered;
  border-bottom: .5rem dotted orangered;
  padding: .5rem 2rem;
  margin: 1rem 0; }
  .subtitle::after {
    content: "";
    width: 0;
    height: .5rem;
    top: -.5rem;
    left: 50%;
    background-color: orangered;
    position: absolute;
    transition: width .5s;
    transform: translateX(-50%); }
  .subtitle::before {
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: .5rem;
    bottom: -.5rem;
    left: 50%;
    background-color: orangered;
    transition: width .5s;
    position: absolute; }
  .subtitle:hover::before, .subtitle:hover::after {
    width: 100%; }

.subtitleWrapper {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.section2 {
  background-color: #fffaee; }
