html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-wrapper{
  transition-timing-function: linear !important;
}
.swiper-initialized{
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: .2rem dashed rgb(59, 59, 59);
}
ion-icon{
  color: rgb(255, 98, 0);
  font-size: 1.5rem;
}
.separator{
  padding: 1.5rem;
}